# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.build/
.Python
.pytest_cache/
dist/
build/
.coverage*
htmlcov/

# Environments
.venv/
venv/
env/
ENV/

# Editors/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local environment files
.env
.env.*.local
